html {
    background-color: rgba(155, 200, 243, 0.164);
    font-size: 100%;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    font-style: normal;
}

.noeline {
    background-image: linear-gradient(rgb(156, 212, 235));
    background-size: 0.25rem;
    min-height: 100%;
    max-width: 30rem;
}
p {
    text-align: start center;
    margin: 0;
    justify-content: start;
}