html {
  background-color: rgba(216, 236, 97, 0.315);
  margin: 1rem;
}

h1 {
  color: rgb(56, 8, 56);
  text-shadow: rgb(50, 29, 150);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  font-style: normal;
  font-weight: bolder;
  font-weight: 0.5px;
}
.soalazaina {
  display: block;
  margin-left: 1px;
  margin-right: 1px;
  width: 50%;

}
h2 {
  color: rgb(43, 8, 8);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  font-weight: lighter;
}
.index {
  background-color: darkblue;
  color: rgb(255, 255, 200);
}
.email {
  background-color: rgba(223, 85, 200, 0.794);
  color: rgb(19, 18, 71) ;
}
